.burger-menu {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    width: 520px;
    height: 100%;
    background: #202020;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    z-index: 10;
  }

  .burger-menu.open {
    transform: translateX(0);
  }
  .burger-menu__close-button{
  position: absolute;
  top: 22px;
  right: 22px;
  background-image: url("../../../images/closebtn.svg");
  width: 22px;
  height: 22px;
  border: none;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  cursor: pointer;
  }

  .burger-menu__button {
    background: none;
    border: none;
    cursor: pointer;
  }

  .burger-menu__icon {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 20px;
  }
  .burger-menu__bar {
    width: 28px;
    height: 3px;
    background-color: #fff;
    margin: 4px 0;
  /*  display: none;*/
  }

  .burger-menu__content {
    display: flex;
    justify-content: center;
    padding: 20px;
    overflow-y: auto;
  }

  .burger-menu__nav {
    display: flex;
    flex-direction: column;
  }

  .burger-menu__list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .burger-menu__item {
    margin: 28px 0;
    color: #FFF;
text-align: center;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: normal;
  }
  .burger-menu__item:last-child{
    margin-top: 600px;
  }

  .burger-menu__item a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
  }