
.movies__card-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
    gap: 10px 0px;
    justify-content: center;
    margin: 0 auto;
    margin-top: 70px;
  }

  .movies__btn{
    width: 320px;
height: 36px;
background-color: #424242;
color: #FFF;
text-align: center;
font-size: 12px;
font-weight: 500;
line-height: normal;
cursor: pointer;
margin: 0 auto;
display: flex;

margin-top: 50px;

  }

  @media screen and (max-width:1220px) {

    .movies__card-list {
      grid-template-columns: repeat(2, 1fr); /* 2 колонки по 4 карточки */
    }

    /* Скрыть последние 4 фильма */
    .movies__card-list :nth-child(n+9) {
      display: none;
    }
    .movies__btn{

    }
  }



