.navtab{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.navtab__list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0;
}

.navtab__list-item {
  display: flex;
  align-items: center;
  margin-right: 10px;
  justify-content: center;
  align-items: center;
}

.navtab__list-item:last-child {
  margin-right: 0;
}

.navtab__list-item a {
  width: 96px;
  height: 36px;
  border-radius: 10px;
  background: #303030;
  color: #fff;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
  text-align: center;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.navtab__list-item a:hover {
  background: #303030;
}

@media screen and (max-width: 500px) {
  .navtab__list {
    justify-content: center;
  }

  .navtab__list-item {
  }

  .navtab__list-item a {
    width: 82px;
    height: 26px;
    border-radius: 6px;
    background: #303030;
    color: #fff;
    font-size: 10px;
    font-weight: 500;
    line-height: 16px;
    text-align: center;
    text-decoration: none;
  }
  .navtab__list-item:last-child {
  }
}
